* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  width: 100%;
  height: 3000px;
  /*  Menu  */
  /*  Sections begins*/
}

body #header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1d1d1d;
  cursor: default;
  height: 6em;
  left: 0;
  top: 0;
  line-height: 6em;
  position: fixed;
  width: 100%;
  z-index: 10000;
  -webkit-box-shadow: 0px 7px 28px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 7px 28px -6px rgba(0, 0, 0, 0.75);
  text-align: center;
}

body #header .logo {
  font-size: 3em;
  letter-spacing: 3px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

body #header nav {
  top: 0;
  height: inherit;
  line-height: inherit;
  position: absolute;
}

body #header nav div {
  left: 20px;
  position: relative;
}

@media screen and (max-width: 400px) {
  body #header .logo {
    font-size: 2em;
    letter-spacing: 2px;
  }
}

body .menu-wrap {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 10001;
}

body .menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10002;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

body .menu-wrap .toggler:checked + .hamburger div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

body .menu-wrap .toggler:checked + .hamburger div:before, body .menu-wrap .toggler:checked + .hamburger div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .menu-wrap .toggler:checked:hover + .hamburger div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

body .menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

body .menu-wrap .toggler:checked ~ .menu div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

body .menu-wrap .toggler:checked ~ .menu div div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

body .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .menu-wrap .hamburger div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 3px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .menu-wrap .hamburger div:before, body .menu-wrap .hamburger div:after {
  content: '';
  position: absolute;
  z-index: 10001;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

body .menu-wrap .hamburger div:after {
  top: 10px;
}

body .menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .menu-wrap .menu > div {
  background: rgba(9, 14, 19, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

body .menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

body .menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  letter-spacing: 3px;
}

body .section1 {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
}

@media screen and (max-width: 864px) {
  body .section1 {
    padding-top: 100px;
  }
}

body .section1 .img_logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
}

body .section1 .img_logo img {
  width: auto;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 864px) {
  body .section1 .img_logo img {
    height: 30vh;
  }
}

@media screen and (max-width: 400px) {
  body .section1 .img_logo img {
    height: 23vh;
  }
}

body .section1 .main_text, body .section1 .main_text_mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5em;
}

@media screen and (max-width: 864px) {
  body .section1 .main_text, body .section1 .main_text_mid {
    font-size: 1.5em;
  }
}

body .section1 .main_text_mid {
  font-size: 4em;
}

@media screen and (max-width: 864px) {
  body .section1 .main_text_mid {
    font-size: 3em;
  }
}

@media screen and (max-width: 400px) {
  body .section1 .main_text_mid {
    margin: 5px;
  }
}

body .section1 ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3vh;
}

body .section1 ul li {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section1 ul li .btn_one, body .section1 ul li .btn_one_readmore, body .section1 ul li .btn_one_steam {
  font-size: 16px;
  text-align: center;
  background-color: #1d1d1d;
  display: inline-block;
  padding: 16px 32px;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 2px;
  border-radius: 2px;
}

body .section1 ul li .btn_one_readmore {
  background-color: white;
  color: black;
  border: 2px solid #1d1d1d;
  padding: 16px 38px;
}

body .section1 ul li .btn_one_steam {
  border: 2px solid #1d1d1d;
}

@media screen and (max-width: 648px) {
  body .section1 ul li {
    width: 100%;
  }
}

body .section2 {
  width: 100%;
  background-color: #3b3b3b;
}

body .section2 .youtube-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 25%;
}

body .section2 .youtube-video iframe {
  width: 100%;
  height: 60vh;
}

@media screen and (max-width: 1024px) {
  body .section2 .youtube-video {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  body .section2 .youtube-video iframe {
    width: 100%;
    height: 60vh;
  }
}

body .section3 {
  width: 100%;
  height: 55vh;
  background-color: black;
}

@media screen and (max-width: 640px) {
  body .section3 {
    height: 35vh;
  }
}

body .section4 {
  /* Welcome to the new better world */
  width: 100%;
  height: 60vh;
  background: url("/img/thewitcher_en_1_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.92;
  background-position: center;
}

@media screen and (max-width: 1280px) {
  body .section4 {
    height: 80vh;
  }
}

body .section4 .center_text {
  width: 100%;
  text-align: center;
}

body .section4 .center_text h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 20px;
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  body .section4 .center_text h1 {
    padding: 10px 15px;
    padding-top: 100px;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 648px) {
  body .section4 .center_text h1 {
    padding: 10px 15px;
    padding-top: 150px;
    font-size: 2em;
  }
}

body .section4 .center_text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 400px;
  color: white;
  font-size: 1.5em;
}

@media screen and (max-width: 1600px) {
  body .section4 .center_text p {
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  body .section4 .center_text p {
    margin: 30px 30px;
  }
}

@media screen and (max-width: 648px) {
  body .section4 .center_text p {
    margin: 5px;
    font-size: 1.25em;
    margin-bottom: 20px;
  }
}

body .section4 .center_text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section4 .center_text a button {
  font-size: 1.25em;
  text-align: center;
  background-color: #1d1d1d;
  display: inline-block;
  padding: 16px 48px;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin: 8px 2px;
  border-radius: 16px;
}

body .section5 {
  /* Explore previous games */
  width: 100%;
  height: 1500px;
  background-color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1600px) {
  body .section5 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 600px;
  }
}

@media screen and (max-width: 864px) {
  body .section5 {
    height: 1800px;
  }
}

body .section5 .st-box {
  float: left;
  width: 500px;
  height: 500px;
  background-color: #1d1d1d;
}

@media screen and (max-width: 1600px) {
  body .section5 .st-box {
    width: 40vw;
    margin: 0;
    margin-left: 5vw;
    margin-top: 30px;
  }
}

@media screen and (max-width: 864px) {
  body .section5 .st-box {
    width: 100vw;
    margin: 0;
    height: 900px;
  }
}

@media screen and (max-width: 640px) {
  body .section5 .st-box {
    width: 100vw;
    margin: 0;
    height: 500px;
    margin-top: 30px;
  }
}

body .section5 .st-box img {
  width: 100%;
  height: 50%;
  background-size: contain;
}

body .section5 .st-box div {
  margin-top: 10px;
}

body .section5 .st-box div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

body .section5 .st-box div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

body .section5 .nd-box {
  float: left;
  width: 500px;
  height: 500px;
  background-color: #1d1d1d;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1600px) {
  body .section5 .nd-box {
    width: 40vw;
    margin: 0;
    margin-left: 10vw;
    margin-top: 30px;
  }
}

@media screen and (max-width: 864px) {
  body .section5 .nd-box {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  body .section5 .nd-box {
    width: 100vw;
    margin: 0;
    height: 700px;
    padding-top: 100px;
  }
}

body .section5 .nd-box img {
  width: 100%;
  height: 50%;
  background-size: contain;
}

body .section5 .nd-box div {
  margin-top: 10px;
}

body .section5 .nd-box div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

body .section5 .nd-box div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

body .section5 .rd-box {
  float: right;
  width: 500px;
  height: 500px;
  background-color: #1d1d1d;
}

@media screen and (max-width: 1600px) {
  body .section5 .rd-box {
    width: 40vw;
    margin: 0;
    margin-right: 30vw;
    margin-top: 30px;
  }
}

@media screen and (max-width: 864px) {
  body .section5 .rd-box {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  body .section5 .rd-box {
    width: 100vw;
    margin: 0;
  }
}

body .section5 .rd-box img {
  width: 100%;
  height: 50%;
  background-size: contain;
}

body .section5 .rd-box div {
  margin-top: 10px;
}

body .section5 .rd-box div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

body .section5 .rd-box div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */