$primaryBtn : rgb(25, 26, 43);
$backgroundColor : rgb(59, 59, 59);
$headerColor: rgb(29, 29, 29);
$overlayColor: rgba(9, 14, 19, 0.85);
$text_burgerColor: rgb(255, 255, 255);
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    width: 100%;
    height: 3000px;

/*  Menu  */

#header{
    align-items: center;
    background: $headerColor;
    cursor: default;
    height: 6em;
    left: 0;
    top:0;
    line-height: 6em;
    position: fixed;
    width: 100%;
    z-index: 10000;
    box-shadow: 0px 7px 28px -6px rgba(0,0,0,0.75);
    text-align: center;

    .logo{
        font-size: 3em;
        letter-spacing: 3px;
        text-decoration: none;
        display: inline-block;
        color: $text_burgerColor;
        font-family: 'Noto Sans', sans-serif;
    }
    nav {
        top: 0;
        height: inherit;
        line-height: inherit;
        position: absolute;
        div {
            left: 20px;
            position: relative;
            
        }
    }


}

   @media screen and (max-width: 400px) {

     #header .logo{
         font-size: 2em;
         letter-spacing: 2px;
     }


 }
 .menu-wrap {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 10001;
    .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10002;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
      }
      .toggler:checked + .hamburger{
        div{
            transform: rotate(135deg);
            &:before,
            &:after {
                top: 0;
                transform: rotate(90deg);
            }
        }
      }
      .toggler:checked:hover + .hamburger {
          div{
            transform: rotate(225deg);
          }
      }
      .toggler:checked ~ .menu {
        visibility: visible;
        div {
            transform: scale(1);
            transition-duration: 0.7s;
            div {
                opacity: 1;
                transition:  opacity 0.4s ease 0.4s;
              }
          }
      }
      .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10001;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: $headerColor;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            position: relative;
            flex: none;
            width: 100%;
            height: 3px;
            background: $text_burgerColor;
            @include flexCenter();
            transition: all 0.4s ease;
            &:before,
            &:after {
                content: '';
                position: absolute;
                z-index: 10001;
                top: -10px;
                width: 100%;
                height: 3px;
                background: inherit;
            }
            &:after {
                top: 10px;
            }
          }
    
      }
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            background: $overlayColor;
            border-radius: 50%;
            width: 200vw;
            height: 200vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;
            > div {
                text-align: center;
                max-width: 90vw;
                max-height: 100vh;
                opacity: 0;
                transition: opacity 0.4s ease;
                > ul > li {
                    list-style: none;
                    color: #fff;
                    font-size: 2rem;
                    padding: 1rem;
                    > a {
                        color: inherit;
                        text-decoration: none;
                        transition: color 0.4s ease;
                        letter-spacing: 3px;
                      }
                  }
              }
          }
      }
  }
/*  Sections begins*/
    .section1{
        width: 100%;
        height: 100vh;
        padding-top: 150px;
        @media screen and (max-width:"864px") {
            padding-top: 100px;
        }
        .img_logo {
            width: 100%;
            @include flexCenter();
            height: 35vh;
            img{
                width: auto;
                height: 35vh;
                @include flexCenter();
                @media screen and (max-width:"864px") {
                    height: 30vh;
                }
                @media screen and (max-width:"400px") {
                    height: 23vh;
                }
            }
        }
        .main_text{
            @include flexCenter();
            font-size: 2.5em;
            @media screen and (max-width:"864px") {
                font-size: 1.5em;

            }
            
        }
        .main_text_mid{
            @extend .main_text;
            font-size: 4em;
            @media screen and (max-width:"864px") {
                font-size: 3em;
            }
            @media screen and (max-width:"400px") {
                margin: 5px;
            }
        }
        ul{
            width: 100%;
            @include flexCenter();
            margin-top: 3vh;
            li {
                float: left;
                @include flexCenter();
                .btn_one{
                    font-size: 16px;
                    text-align: center;
                    background-color: $primaryBtn;
                    display: inline-block;
                    padding: 16px 32px;
                    color: white;
                    border: none;
                    text-decoration: none;
                    cursor: pointer;
                    margin: 4px 2px;
                    border-radius: 2px;

                }
                .btn_one_readmore{
                    @extend .btn_one;
                    background-color: white;
                    color: black;
                    border: 2px solid $primaryBtn;
                    padding: 16px 38px;
                }
                .btn_one_steam {
                    @extend .btn_one;
                    border: 2px solid $primaryBtn;
                }
                @media screen and (max-width:"648px") {
                    width: 100%;  
            }
            }
        }
    }
    .section2{
        width: 100%;
        background-color:$backgroundColor;
        .youtube-video{
            @include flexCenter();
            width: 50%;
            margin-left: 25%;
            iframe {
                width: 100%;
                height: 60vh;
            }
        }
        @media screen and (max-width:"1024px"){
            .youtube-video{
                width: 100%;
                height: 100%;
                margin-left: 0%;
                iframe {
                    width: 100%;
                    height: 60vh;
                }
            }
        }
    }
    .section3{
        width: 100%;
        height: 55vh;
        background-color: rgb(0, 0, 0);
        @media screen and (max-width:"640px") {
            height: 35vh;
        }

        
    }
    .section4{
        /* Welcome to the new better world */
        width: 100%;
        height: 60vh;
        background: url("/img/thewitcher_en_1_1920x1080.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.92;
        background-position: center;
        @media screen and (max-width:"1280px") {
            height: 80vh;
        }
        .center_text{
            width: 100%;
            text-align: center;
            h1{
                @include flexCenter();
                color: #fff;
                padding-top: 150px;
                padding-bottom: 20px;
                font-size: 4em;
                font-weight: 400;
                text-transform: uppercase;
                @media screen and (max-width:"648px") {
                    padding: 10px 15px;
                    padding-top: 150px;
                    font-size: 2em;
                }
            }
            p{
                @include flexCenter();
                margin: 10px 400px;
                color: $text_burgerColor;
                font-size: 1.5em;
                @media screen and (max-width:"648px") {
                    margin: 5px;
                    font-size: 1.25em;
                    margin-bottom: 20px;
                }
            }
            a {
                @include flexCenter();
                button{
                    font-size: 1.25em;
                    text-align: center;
                    background-color: $primaryBtn;
                    display: inline-block;
                    padding: 16px 48px;
                    color: white;
                    border: none;
                    text-decoration: none;
                    cursor: pointer;
                    margin: 8px 2px;
                    border-radius: 16px;
                }
            }
        }
    }
    .section5 {
        /* Explore previous games */
        width: 100%;
        height: 100vh;
        background-color: $primaryBtn;
        @include flexCenter();
        .st-box {
            float:left;
            width:500px;
            height:500px;
            background-color: $primaryBtn;
            border:solid black;
            @media screen and (max-width:"1600px") {
                width: 40vw;
                margin: 0;
                margin-left: 5vw;
            }
            @media screen and (max-width:"1024px") {
                width: 100vw;
                margin: 0;
                margin-top: 820px;
                height: 900px;
            }
            @media screen and (max-width:"640px") {
                width: 100vw;
                margin: 0;
                margin-top: 1000px;
                height: 600px;
            }
            img {
                width: 100%;
                height: 50%;
                background-size: contain;
            }
            div {
                margin-top:10px ;
                h1{
                    @include flexCenter();
                    color: #fff;
                    font-size: 20px;
                }
                p {
                    @include flexCenter();
                    margin: 10px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
        .nd-box {
            float:left;
            width:500px;
            height:500px;
            background-color:$primaryBtn; 
            border:solid black;
            margin-left:20px;
            margin-right: 20px;
            @media screen and (max-width:"1600px") {
                width: 40vw;
                margin: 0;
                margin-left: 10vw;
            }
            @media screen and (max-width:"1024px") {
                width: 100vw;
                margin: 0;
            }
            @media screen and (max-width:"640px") {
                width: 100vw;
                margin: 0;
                
            }
            img {
                width: 100%;
                height: 50%;
                background-size: contain;
            }
            div {
                margin-top:10px ;
                h1{
                    @include flexCenter();
                    color: #fff;
                    font-size: 20px;
                }
                p {
                    @include flexCenter();
                    margin: 10px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
        .rd-box {
            float:right;
            width:500px;
            height:500px;
            background-color:$primaryBtn;
            border:solid black;
            @media screen and (max-width:"1600px") {
                width: 40vw;
                margin: 0;
                margin-right: 20vw;
            }
            @media screen and (max-width:"1024px") {
                width: 100vw;
                margin: 0;
                
            }
            @media screen and (max-width:"640px") {
                width: 100vw;
                margin: 0;
            }
            img {
                width: 100%;
                height: 50%;
                background-size: contain;
            }
            div {
                margin-top:10px ;
                h1{
                    @include flexCenter();
                    color: #fff;
                    font-size: 20px;
                }
                p {
                    @include flexCenter();
                    margin: 10px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
        
    }
}
